In [3]:
import pandas as pd

In [9]:
result = pd.read_csv('C:/Users/user/Desktop/Statistical_Data_Idea_Contest/0503/kyumin/result.csv')
kung = pd.read_excel('C:/Users/user/Desktop/Statistical_Data_Idea_Contest/DATA/데이터/경기전망19-2.xlsx')

In [14]:
dap = 0
for i in kung['global_id']:
    if i in result['gobal_id']:
        dap +=1
print(dap)

KeyError: 'gobal_id'

In [15]:
result.head(5)

   global_id  Spectral  Spectral_dummy  agg  agg_pca
0   111016.0         1               0    2        1
1   111037.0         1               0    2        1
2   111039.0         1               0    0        2
3   111041.0         1               0    0        1
4   111055.0         1               0    0        1

In [16]:
kung.head(5)

,global_id,X1,X2,X3,X16,X17,X17_1,X20,X21,X30,...,X62,X63,X64,X65,X66,X67,X68,X69,X70,X71
0,134012,25,1,33,1,2,2,3,3,3,...,0,0,0,0,0,0,0,0,0,0
1,134013,25,3,30,1,2,2,3,3,3,...,0,0,0,0,0,0,0,0,0,0
2,134014,25,2,30,1,1,1,2,3,2,...,0,0,0,0,0,0,0,0,0,0
3,134015,34,3,95,1,2,2,2,2,0,...,0,0,0,0,0,0,0,0,0,0
4,134016,25,3,95,1,2,2,2,3,0,...,0,0,0,0,0,0,0,0,0,0